@import 'variables';

// For phones
@media only screen and (min-width: 1001px){

    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 100%;
        grid-template-columns: 35% 65%;
        .options-container{
            background: $optionColor;
        }
        .map-container{
            background: $mapColor;
        }
    }
}
