@import 'variables';

// For phones
@media only screen and (min-width: 1001px){

    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 13% 67% 20%;
        grid-template-columns: 100%;
    }
    
    .title{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
}
