@import 'variables';
@import 'map-container';

// For phones
@media only screen and (max-width: 1000px){

    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 90% 10%;
        grid-template-columns: 100%;
        .map-container{
            .map-circle{
                background: $mapColor;
                border: 2px solid $borderColor;
                height: 70vw;
                width: 70vw;
                border-radius: 35vw;
            }
        }
        .action-container{
            background: $mapColor;
        }
    }
}