@import 'variables';
@import 'map-container';

// For phones
@media only screen and (max-width: 1000px){

    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 15% 15% 60% 10%;
        grid-template-columns: 100%;
        .map-container{
            .map-circle{
                background: $mapColor;
                border: 4px solid $borderColor;
                height: 80vw;
                width: 80vw;
                border-radius: 40vw;
                overflow: hidden;
            }
        }
        .action-container{
            background: $mapColor;
        }
    }

    .title{
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }

    .titleText{
    font-size: 9em !important;
    opacity: 0.8;
    color: $primaryTextColor;
    }

    .subtitleText{
	    font-family: 'Ubuntu', sans-serif;
	    font-size: 2em !important;
        opacity: 0.8;
        color: $primaryTextColor;
    }

    .btn {
        width: 90vw;
        height: 5vh;
        font-size: 2em !important;
    }

}