@import 'variables';
@import 'phone';
@import 'others';
@import 'map-container';
@import 'action-container';

body{
    margin: 0 auto;
    height: 100vh;
}

.titleText{
    font-size: 3em;
    opacity: 0.8;
    color: $primaryTextColor;
}

.btn {
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 20vw;
	box-shadow:inset 0px 1px 0px 0px #0c1715;
	background:linear-gradient(to bottom, #000000 5%, #202226 100%);
	background-color:#000000;
	border-radius:6px;
	border:1px solid #1e2229;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	// font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #0a0a0a;
	&:hover {
	background:linear-gradient(to bottom, #202226 5%, #000000 100%);
	background-color:#202226;
    }
    &:active {
	    position:relative;
	    top:1px;
    }
    &:focus{
        outline: none;
    }
 }









